* {
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #292929;
}

#outerWrap {
    display: flex;
    flex-flow: column wrap;
    overflow: visible;
    align-items: center;
    justify-content: center;
}

#head-navigation, #foot-navigation, #innerWrap {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#head-navigation, #foot-navigation {
    flex-basis: 10%;
    max-width: max-content;
    color: #ff9eac;
}

#innerWrap {
    flex-direction: column;
    flex-basis: 80%;
    max-width: 80%;
    color: #f17587;
}

#logo-gd {
    max-width: 100pt;
    max-height: 100pt;
    min-width: 50pt;
    min-height: 50pt;
}

#logo-gd > img {
    border-radius: 10%;
}

.text-tag, a {
    max-height: max-content;
}

.text-tag {
    padding: 10pt;
}

a {
    text-decoration: none;
    padding: 5pt;
}

#foot-navigation > a > img {
    max-width: 15pt;
    max-height: 15pt;
    min-width: 8pt;
    min-height: 8pt;
}

/* animations and stuff */

#head-navigation > a:link, #head-navigation > a:visited, #foot-navigation > a:link, #foot-navigation > a:visited {
    color: #ff9eac;
    transition: 300ms ease-in;
}

#head-navigation > a:hover {
    color: #f3c6cd;
    transition: 300ms ease-in;
}

#head-navigation > a:active {
    color: #f17587;
}

#foot-navigation:hover > a {
    color: #f3c6cd;
    filter: saturate(50%);
    transition: 300ms ease-out;
}

#foot-navigation:hover > a:hover {
    color: #f17587;
    filter: saturate(100%);
    transition: 300ms ease-out;
}