.logo-scooter {
    min-width: 40pt;
    min-height: 40pt;
    max-width: 20pt;
    max-height: 20pt;
}

#scooter {
    display: flex;
    flex-direction: column;
    max-height: max-content;
    align-items: center;
    justify-content: center;
}

#scooter-list {
    display: flex;
    max-height: max-content;
    max-width: 40%;
    align-items: center;
    justify-content: space-between;
}

#profile-gus, #profile-saut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: max-content;
}

/* animations and stuff */

/* #scooter-list > a:link, #scooter-list > a:visited {
    color: #ff9eac;
    transition: 500ms ease-in;
}

#scooter-list > a:hover {
    color: #f3c6cd;
    transition: 500ms ease-in;
}

#scooter-list:hover > a {
    color: #f3c6cd;
    filter: saturate(30%);
    transition: 500ms ease-out;
}

#scooter-list:hover > a:hover {
    color: #f17587;
    filter: saturate(100%);
    transition: 500ms ease-out;
} */