html {
    text-align: center;
    background-color: aqua;
    font-size: 25px;
}

img {
    width: 450px;
    height: 250px;
}

hl {
    color: red;
    font-size: 30px;
}

h3 {
    color: lime;
    text-align: center;
    font-size: 50px;
}

.mainThing {
    font-size: 45px;
}

.github {
    color: blue;
}